<script src="https://giscus.app/client.js"
        data-repo="anvielabs/anvielabs.github.io"
        data-repo-id="R_kgDON-5c1A"
        data-category="Announcements"
        data-category-id="DIC_kwDON-5c1M4CnTAi"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
